extends ../layout


block content
    h1.
        ID: #{horse._id}
    form(action='/horses/#{horse._id}/edit',method='post',name='updatehorse',enctype='application/x-www-form-urlencoded')
        p Nazwa: 
            input#inputName(type='text', value='#{horse.name}', name='name')
        p Płeć(Zaznaczone: Ogier, Odznaczone: Klacz): 
            input#inputSex(type='checkbox', name='sex', checked=('#{horse.sex}'==='true' ? "checked" : false))
        p Hodowca: 
            input#inputBreeder(type='text', value='#{horse.breeder}', name='breeder')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Zaktualizuj


