extends ../layout

block content
    h1.
        ID: #{competition._id}
    p Nazwa: #{competition.name}
    p Data rozegrania: #{competition.competition_date}
    p Hasło: #{competition.password}
    p Ilość sędzi: #{competition.judge_val}
    p Lista sędzi: 
        ul 
            each judge, i in judges
                li
                    = judge.firstName + ' ' + judge.lastName
    p Lista startowa:
         ul 
            each horse, i in horses
                li= horse.name
    p Lista grup:
         ul 
            each group, i in groups
                li
                    = group.group_num + ': ' + group.sex
                    ul
                      each player, n in group.players
                        li
                          = player
